<p-toast></p-toast>
<div class="card">
    <!-- <span class="text-900 text-xl font-bold mb-4 block"> {{editMode ? 'Edit' : 'Add'}} Patient</span> -->
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div class="col-12">
            <div class="grid formgrid p-fluid">
                <!-- <div *ngIf="editMode" class="field mb-4 col-12">
                    <label for="anon_name" class="font-medium text-900">Anon Name</label>
                    <input id="anon_name" [readOnly]="true" formControlName="anon_name" [disabled]="editMode" type="text" pInputText>
                </div> -->


                <div class="field mb-4 col-12">
                    <label for="first_name" class="font-medium text-900">Firstname</label>
                    <input id="first_name" formControlName="first_name" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="last_name" class="font-medium text-900">Lastname</label>
                    <input id="last_name" formControlName="last_name" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="sex" class="font-medium text-900">Genre (Masculin/Feminin)</label>
                    <p-dropdown formControlName="sex" [options]="sexes" placeholder="Select a genre"></p-dropdown>
                </div>
                <div class="field mb-4 col-12">
                    <label for="birth_date" class="font-medium text-900">BirthDate</label>
			        <p-calendar appendTo="body" formControlName="birth_date" [showIcon]="true" [dateFormat]="'dd-mm-yy'" styleClass="calendar"></p-calendar>
                </div>

                <div class="col-12">
                    <button [loading]="isLoading" pButton pRipple label="Submit" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </form>
</div>
