<p-toast></p-toast>

<div class="surface-section px-6 py-6 surface-border border-1 border-round">
  <span class="block text-900 font-bold text-xl mb-4">Create Plate Type</span>
  <form [formGroup]="createPlateTypeForm" (ngSubmit)="onPlateInfosSubmitted()">
    <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
      <div class="col-12 lg:col-8">
        <div class="grid formgrid">
          <div class="col-12">
            <div class="p-float-label">
              <input
                pInputText
                formControlName="name"
                aria-describedby="name-help"
                id="name"
              />
              <label htmlFor="name">Plate Type Name</label>
            </div>
            <ng-container
              *ngIf="
                createPlateTypeForm.get('name')?.dirty ||
                createPlateTypeForm.get('name')?.touched
              "
            >
              <small
                class="text-error"
                *ngIf="
                  createPlateTypeForm.controls['name'].errors &&
                  createPlateTypeForm.controls['name'].errors['required']
                "
                >Ce champs est requis</small
              >
            </ng-container>
          </div>
          <div class="col-12 mt-4">
            <div class="p-float-label">
              <p-dropdown
                id="plateFillingType"
                formControlName="plateFillingType"
                [options]="plateFillType"
                placeholder="Select a filling type"
              ></p-dropdown>
              <label htmlFor="plateFillingType">Plate Filling Type</label>
            </div>
            <ng-container
              *ngIf="
                createPlateTypeForm.get('plateFillingType')?.dirty ||
                createPlateTypeForm.get('plateFillingType')?.touched
              "
            >
              <small
                class="text-error"
                *ngIf="
                  createPlateTypeForm.controls['plateFillingType'].errors &&
                  createPlateTypeForm.controls['plateFillingType'].errors[
                    'required'
                  ]
                "
                >Ce champs est requis</small
              >
            </ng-container>
          </div>
          <div class="col-12 lg:col-6 lg:mt-2">
            <span class="text-900 font-bold p-3"> Row Configuration </span>
            <div class="col-12 field">
              <div>
                <span class="p-float-label mt-4">
                  <input
                    id="rowLength"
                    pInputText
                    [min]="2"
                    [max]="20"
                    type="number"
                    placeholder="Number of rows"
                    formControlName="rowLength"
                  />
                  <label htmlFor="rowLength">Number of rows</label>
                </span>
                <ng-container
                  *ngIf="
                    createPlateTypeForm.get('rowLength')?.dirty ||
                    createPlateTypeForm.get('rowLength')?.touched
                  "
                >
                  <small
                    class="text-error"
                    *ngIf="
                      createPlateTypeForm.controls['rowLength'].errors &&
                      createPlateTypeForm.controls['rowLength'].errors[
                        'required'
                      ]
                    "
                    >Ce champs est requis</small
                  >
                </ng-container>
              </div>
              <div>
                <span class="p-float-label mt-4">
                  <p-dropdown
                    id="rowLabelType"
                    formControlName="rowLabelType"
                    [options]="anotationLabelType"
                    placeholder="Row label type"
                  ></p-dropdown>
                  <label htmlFor="rowLabelType">Row label Type</label>
                </span>
                <ng-container
                  *ngIf="
                    createPlateTypeForm.get('rowLabelType')?.dirty ||
                    createPlateTypeForm.get('rowLabelType')?.touched
                  "
                >
                  <small
                    class="text-error"
                    *ngIf="
                      createPlateTypeForm.controls['rowLabelType'].errors &&
                      createPlateTypeForm.controls['rowLabelType'].errors[
                        'required'
                      ]
                    "
                    >Ce champs est requis</small
                  >
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 lg:col-6 lg:mt-2">
            <span class="text-900 font-bold p-3"> Column Configuration </span>
            <div class="col-12 field">
              <div>
                <span class="p-float-label mt-4">
                  <input
                    id="colLength"
                    pInputText
                    [min]="2"
                    [max]="20"
                    type="number"
                    placeholder="Number of cols"
                    formControlName="colLength"
                  />
                  <label htmlFor="colLength">Number of col</label>
                </span>
                <ng-container
                  *ngIf="
                    createPlateTypeForm.get('colLength')?.dirty ||
                    createPlateTypeForm.get('colLength')?.touched
                  "
                >
                  <small
                    class="text-error"
                    *ngIf="
                      createPlateTypeForm.controls['colLength'].errors &&
                      createPlateTypeForm.controls['colLength'].errors[
                        'required'
                      ]
                    "
                    >Ce champs est requis</small
                  >
                </ng-container>
              </div>
              <div>
                <span class="p-float-label mt-4">
                  <p-dropdown
                    id="colLabelType"
                    formControlName="colLabelType"
                    [options]="anotationLabelType"
                  ></p-dropdown>
                  <label htmlFor="colLabelType">Col label Type</label>
                </span>
                <ng-container
                  *ngIf="
                    createPlateTypeForm.get('colLabelType')?.dirty ||
                    createPlateTypeForm.get('colLabelType')?.touched
                  "
                >
                  <small
                    class="text-error"
                    *ngIf="
                      createPlateTypeForm.controls['colLabelType'].errors &&
                      createPlateTypeForm.controls['colLabelType'].errors[
                        'required'
                      ]
                    "
                    >Ce champs est requis</small
                  >
                </ng-container>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 lg:mt-2">
            <span class="text-900 font-bold p-3"> Controls Configuration </span>
            <div class="col-12 lg:mt-2">
              <span class="text-900 font-medium p-3">
                White Control Configuration
              </span>
              <div class="grid">
                <div class="col">
                  <span class="p-float-label mt-4">
                    <input
                      id="numberOfWhiteCtrl"
                      pInputText
                      type="number"
                      [min]="1"
                      placeholder="Number of white controls"
                      formControlName="numberOfWhiteCtrl"
                    />
                    <label htmlFor="numberOfWhiteCtrl"
                      >Number of White controls</label
                    >
                  </span>
                  <ng-container
                    *ngIf="
                      createPlateTypeForm.get('numberOfWhiteCtrl')?.dirty ||
                      createPlateTypeForm.get('numberOfWhiteCtrl')?.touched
                    "
                  >
                    <small
                      class="text-error"
                      *ngIf="
                        createPlateTypeForm.controls['numberOfWhiteCtrl']
                          .errors &&
                        createPlateTypeForm.controls['numberOfWhiteCtrl']
                          .errors['required']
                      "
                      >Ce champs est requis</small
                    >
                  </ng-container>
                </div>
                <div class="col">
                  <span class="p-float-label mt-4">
                    <p-multiSelect
                      id="positionsOfWhiteCtrl"
                      [selectionLimit]="
                        createPlateTypeForm.get('numberOfWhiteCtrl')?.value
                      "
                      [options]="
                        {
                          rowLength:
                            createPlateTypeForm.get('rowLength')?.value,
                          rowLabelType:
                            createPlateTypeForm.get('rowLabelType')?.value,
                          colLength:
                            createPlateTypeForm.get('colLength')?.value,
                          colLabelType:
                            createPlateTypeForm.get('colLabelType')?.value
                        } | getListPlatePosition
                      "
                      formControlName="positionsOfWhiteCtrl"
                      placeholder="Select Position"
                      display="chip"
                    ></p-multiSelect>
                    <label htmlFor="positionsOfWhiteCtrl"
                      >Select Position</label
                    >
                  </span>
                  <ng-container
                    *ngIf="
                      createPlateTypeForm.get('positionsOfWhiteCtrl')?.dirty ||
                      createPlateTypeForm.get('positionsOfWhiteCtrl')?.touched
                    "
                  >
                    <small
                      class="text-error"
                      *ngIf="
                        createPlateTypeForm.controls['positionsOfWhiteCtrl']
                          .errors &&
                        createPlateTypeForm.controls['positionsOfWhiteCtrl']
                          .errors['required']
                      "
                      >Ce champs est requis</small
                    >
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-12 lg:mt-2">
              <span class="text-900 font-medium p-3">
                Negatives Control Configuration
              </span>
              <div class="grid">
                <div class="col">
                  <span class="p-float-label mt-4">
                    <input
                      id="numberOfNegCtrl"
                      pInputText
                      type="number"
                      placeholder="Number of negative controls"
                      formControlName="numberOfNegCtrl"
                    />
                    <label htmlFor="numberOfNegCtrl"
                      >Number of Negative controls</label
                    >
                  </span>
                  <ng-container
                    *ngIf="
                      createPlateTypeForm.get('numberOfNegCtrl')?.dirty ||
                      createPlateTypeForm.get('numberOfNegCtrl')?.touched
                    "
                  >
                    <small
                      class="text-error"
                      *ngIf="
                        createPlateTypeForm.controls['numberOfNegCtrl']
                          .errors &&
                        createPlateTypeForm.controls['numberOfNegCtrl'].errors[
                          'required'
                        ]
                      "
                      >Ce champs est requis</small
                    >
                  </ng-container>
                </div>
                <div class="col">
                  <span class="p-float-label mt-4">
                    <p-multiSelect
                      id="positionsOfNegCtrl"
                      [selectionLimit]="
                        createPlateTypeForm.get('numberOfNegCtrl')?.value
                      "
                      [options]="
                        {
                          rowLength:
                            createPlateTypeForm.get('rowLength')?.value,
                          rowLabelType:
                            createPlateTypeForm.get('rowLabelType')?.value,
                          colLength:
                            createPlateTypeForm.get('colLength')?.value,
                          colLabelType:
                            createPlateTypeForm.get('colLabelType')?.value
                        } | getListPlatePosition
                      "
                      formControlName="positionsOfNegCtrl"
                      placeholder="Select Position"
                      display="chip"
                    ></p-multiSelect>
                    <label htmlFor="positionsOfNegCtrl">Select Position</label>
                  </span>
                  <ng-container
                    *ngIf="
                      createPlateTypeForm.get('positionsOfNegCtrl')?.dirty ||
                      createPlateTypeForm.get('positionsOfNegCtrl')?.touched
                    "
                  >
                    <small
                      class="text-error"
                      *ngIf="
                        createPlateTypeForm.controls['positionsOfNegCtrl']
                          .errors &&
                        createPlateTypeForm.controls['positionsOfNegCtrl']
                          .errors['required']
                      "
                      >Ce champs est requis</small
                    >
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-12 lg:mt-2">
              <span class="text-900 font-medium p-3">
                Positive Control Configuration
              </span>
              <div class="grid">
                <div class="col">
                  <span class="p-float-label mt-4">
                    <input
                      id="numberOfPositiveCtrl"
                      pInputText
                      type="number"
                      placeholder="Number of positive controls"
                      formControlName="numberOfPositiveCtrl"
                    />
                    <label htmlFor="numberOfPositiveCtrl"
                      >Number of Positive controls</label
                    >
                  </span>
                  <ng-container
                    *ngIf="
                      createPlateTypeForm.get('numberOfPositiveCtrl')?.dirty ||
                      createPlateTypeForm.get('numberOfPositiveCtrl')?.touched
                    "
                  >
                    <small
                      class="text-error"
                      *ngIf="
                        createPlateTypeForm.controls['numberOfPositiveCtrl']
                          .errors &&
                        createPlateTypeForm.controls['numberOfPositiveCtrl']
                          .errors['required']
                      "
                      >Ce champs est requis</small
                    >
                  </ng-container>
                </div>
                <div class="col">
                  <span class="p-float-label mt-4">
                    <p-multiSelect
                      id="positionsOfPositiveCtrl"
                      [selectionLimit]="
                        createPlateTypeForm.get('numberOfPositiveCtrl')?.value
                      "
                      [options]="
                        {
                          rowLength:
                            createPlateTypeForm.get('rowLength')?.value,
                          rowLabelType:
                            createPlateTypeForm.get('rowLabelType')?.value,
                          colLength:
                            createPlateTypeForm.get('colLength')?.value,
                          colLabelType:
                            createPlateTypeForm.get('colLabelType')?.value
                        } | getListPlatePosition
                      "
                      formControlName="positionsOfPositiveCtrl"
                      placeholder="Select Position"
                      display="chip"
                    ></p-multiSelect>
                    <label htmlFor="positionsOfPositiveCtrl"
                      >Select Position</label
                    >
                  </span>
                  <ng-container
                    *ngIf="
                      createPlateTypeForm.get('positionsOfPositiveCtrl')
                        ?.dirty ||
                      createPlateTypeForm.get('positionsOfPositiveCtrl')
                        ?.touched
                    "
                  >
                    <small
                      class="text-error"
                      *ngIf="
                        createPlateTypeForm.controls['positionsOfPositiveCtrl']
                          .errors &&
                        createPlateTypeForm.controls['positionsOfPositiveCtrl']
                          .errors['required']
                      "
                      >Ce champs est requis</small
                    >
                  </ng-container>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="flex-1 w-full lg:w-3 flex flex-column row-gap-3">
        <div class="border-round">
          <span
            class="text-900 font-bold block border-bottom-1 surface-border border-1 border-round p-3"
            >Preview</span
          >
          <div class="p-3">
            <div class="plate-preview overflow-auto">

                <div
                  class="flex flex-row row-content"
                  *ngFor="
                    let i of [].constructor(
                      createPlateTypeForm.get('rowLength')?.value
                    );
                    let rowIndex = index;
                    let first = first
                  "
                >
                  <ng-container
                    *ngFor="
                      let j of [].constructor(
                        createPlateTypeForm.get('colLength')?.value
                      );
                      let i = index;
                      let firstCol = first
                    "
                  >
                    <div class="flex flex-column align-items-center col">
                      <div *ngIf="first" [ngClass]="{ 'ml-3': firstCol }">
                        {{
                          createPlateTypeForm.get('colLabelType')?.value !==
                          'Letter'
                            ? i + 1
                            : (i | nextCaracter | uppercase)
                        }}
                      </div>
                      <div class="flex gap-2 align-items-center">
                        <span *ngIf="firstCol">
                          {{
                            createPlateTypeForm.get('rowLabelType')?.value !==
                            'Letter'
                              ? rowIndex + 1
                              : (rowIndex | nextCaracter | uppercase)
                          }}
                        </span>
                        <p-button
                          pRipple
                          [raised]="true"
                          [pTooltip]="
                            {
                              rowLabelType:
                                createPlateTypeForm.get('rowLabelType')?.value,
                              rowIndex: rowIndex,
                              colLabelType:
                                createPlateTypeForm.get('colLabelType')?.value,
                              colIndex: i
                            }
                              | getLabelOfPlateItem
                              | uppercase
                          "
                          class="item flex justify-content-center p-2"
                          [rounded]="true"
                          [outlined]="true"
                        ></p-button>
                      </div>
                    </div>
                  </ng-container>
                </div>

              <ng-container *ngIf="!createPlateTypeForm.disabled">
                <span
                  *ngIf="
                    (!createPlateTypeForm.disabled &&
                      !createPlateTypeForm.get('rowLength')?.valid) ||
                    !createPlateTypeForm.get('colLength')?.valid
                  "
                >
                  Please choose valid value for the plate
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-column sm:flex-row xl:w-3 justify-content-between align-items-center gap-3 py-2 mt-4"
    >
      <button
      type="button"
        pButton
        pRipple
        class="p-button-danger flex-1 w-full p-button-outlined"
        label="Discard"
        icon="pi pi-fw pi-trash"
      ></button>
      <button
      type="submit"
        pButton
        pRipple
        class="p-button-primary flex-1 w-full border-round"
        label="Save"
        icon="pi pi-fw pi-check"
      ></button>
    </div>
  </form>
</div>
